/.idea
/.sf
/.sfdx
/.vscode

.vim-force.com/
/force-app/main/default/profiles/
/force-app/main/default/
/IlluminatedCloud

# Added by Illuminated Cloud
.localdev/
/out/
target/
node_modules/
/.illuminatedCloud/
**/tsconfig*.json
**/*.tsbuildinfo